

h1{
    color: 000000;
    text-align: center;
}

body{
    margin: 0; /* מסיר את הריווח הברירת מחדל סביב ה-body */
  padding: 0; /* מסיר את הריווח הפנימי */
  font-family: Arial, sans-serif; /* מגדיר גופן נעים לקריאה */
    background-image: url(/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
 
    background-size: cover;

    background-repeat: no-repeat;
}


.one{
        width: 1900PX;
        border: 20x solid black;
        align-items: center;
        flex-wrap: wrap;
        display: flex;    
        flex-direction:row;
        justify-content: space-evenly;
        /* background-color: rgb(1, 14, 22); */
        margin: 40px;

      }


.two {
    /* background-color: aqua; */
    width: 200px;
    height: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid rgb(57, 116, 62);
    
}



.dog{
    background-image: url(dog.jpg);
    background-size: cover;
}